# ignore .svn metadata files
.svn
# ignore Maven generated target folders
target
# ignore eclipse files
.project
.classpath
.settings
.scala_dependencies
.externalToolBuilders
.factorypath
bin
# ignore IDEA files
*.iml
*.ipr
*.iws
.idea
atlassian-ide-plugin.xml
maven-ant-tasks.jar
test-output
classes
.DS_Store
# ignore log files
*.log
*/*.log
logs
.itest
# ignore SpecificStarter.java
/Demeter.build/
/Demeter.dist/
/Demeter.app/
/Demeter.zip
/Demeter.spec
